<h3>My Saved Recipes</h3>
<button class="btn waves-effect teal"><%= link_to 'Add New Recipe', new_recipe_path %></button>
<ul>
  <%@user_recipes.each do |recipe|%>
    <br>
      <li><%= link_to recipe.name, recipe%> </li>
    <br>
  <%end%>
</ul>
