<h2>About Recipe Box</h2>
<h5>Recipe Box is a recipe organizing app which allows users to create, update, search and rate recipes. It was created at Dev Bootcamp.</h5>
<h4>Creators:</h4>
<ul>
  <li>Amber Mailliard</li>
  <li>Catherine Rice</li>
  <li>Chris "Penn" Camp</li>
  <li>David Skaggs</li>
</ul>
<h4>Technologies Used:</h4>
<ul>
  <li>Ruby on Rails</li>
  <li>PostgreSQL</li>
  <li>AJAX</li>
  <li>Materialize</li>
</ul>
